<div class=" container-fluid ">
  
    <div class="row ">
        <div class="ml-auto mr-2 ">
            <i class="fa fa-edit cursor-pointer mr-2 text-primary"  title="Edit the Order" *ngIf="!isEditOrder" (click)='isEditOrder=true'></i>
            <i class="fa fa-close cursor-pointer text-primary" title="Close the Order View" (click)='viewClose()'></i>
        </div>
    </div>
    <div class="row ml-3 mr-3 ">

        <div class='m-auto p-1 border  '>
            <div class='mb-3 text-light bg-success text-center'><h5>Order Details</h5></div>
            <div class='px-3 mt-2 row '>
                <div class="col-md-5 text-truncate"> Item Name:</div>
                <div class="col-md-7 p-0">{{updatedOrder.itemName}}</div>
                <!-- <div class="col-md-7  p-0 text-truncate"> <input type='text'
                        [ngClass]="isEditOrder==false ?'inputClassHide':'inputClassShow'" [disabled]='!isEditOrder'
                        [(ngModel)]="updatedOrder.itemName">
                </div> -->
            </div>
            <div class='px-3  mt-2 row'>
                <div class="col-md-5 text-truncate">Order Status:</div>
                <div class="col-md-7 p-0 text-truncate"> {{updatedOrder.status}}
              
                </div>
            </div>
            <div class='px-3 mt-2 row'>
                <div class="col-md-5 text-truncate">Quantity:</div>
                <div class="col-md-7 p-0 text-truncate">
                    <input type='text' [ngClass]="isEditOrder==false ?'inputClassHide':'inputClassShow'"
                        [disabled]='!isEditOrder'  [(ngModel)]="updatedOrder.qty">
                </div>
            </div>
            <div class='px-3  mt-2 row'>
                <div class="col-md-5 text-truncate">Size:</div>
                <div class="col-md-7 text-truncate p-0">
                    <input type='text' [ngClass]="isEditOrder==false ?'inputClassHide':'inputClassShow'"
                        [disabled]='!isEditOrder' [(ngModel)]="updatedOrder.size">

                </div>
            </div>

        </div>
        <div class="mt-3 pt-2 text-center m-auto" *ngIf='isEditOrder==true'>
            <button type='submit' class='btn btn-primary mx-3'  (click)="saveOrder($event)" >Update Order</button>
            <button type='select' class='btn btn-warning mx-3' (click)="isEditOrder = false; close()">Cancel</button>
    
        </div>
    </div>
   

</div>